/*section heading*/
@mixin h2 {
	font-family: $bold;
	position: relative;	
	text-align: center;
	font-size: 2.5em;
	letter-spacing: 4px;
	line-height: 30px;
	margin-bottom: 50px;
} 

@mixin section-description {
		max-width: 600px;
		font-size: 1.125em;
		line-height: 1.625em;		
		text-align: center;
		margin: 0 auto 79px auto;
}

/*horizontal-line*/ 

@mixin hr {
		max-width: 87px;
		height: 4px;
		background: #14a58c;
		text-align: center;
		margin: 25px auto 25px auto;
}

/*h4*/

@mixin h4 {
		font-size: 1.5em;
		line-height: 1.125em;		
		font-family: $bold;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 15px;
} 

@mixin a-big-btn {
		width: 286px;
		height: 69px;		
		font-family: $semi-bold;
		line-height: 26px;
		display: inline-flex;
		text-decoration: none;
		font-size: 1.125em;
		text-transform: uppercase;
		justify-content: center;
		align-items: center;
		border-radius: 4px;
		cursor: pointer;		
		transition: 0.3s;
		color: $font-color;
		 
}

/*links*/ 

@mixin link-style {
	text-decoration: none;	
	text-transform: uppercase;
	outline: none;
	text-align: center;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	transition: 0.3s;
}


