/*Testimonials*/ 

.testimonials-section {
	padding: 119px 0 130px 0;;
	background: #d74680;
	color: $font-color;

	h2	{
		text-transform: uppercase;
	}

	.section-header h2:after {
		background:	#b73c6d;
	}

	.section-header p {
		margin-bottom: 86px;
	}	
	.testimonials {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		li:first-of-type {
			margin-bottom: 160px;
		}
	}

	.testimonials .testimonial {
		flex: 1 1 47%; 
	}

	.testimonial {
		display: flex;		
	}	

	.testimonial-icon {
		width: 94px;
		height: 95px;
		background: url('../img/article.png')no-repeat center center;
		background-size: cover;
		margin: 0 auto;
		border-radius: 95px;
		margin-right: 50px;		
	}

	.people-say {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

	}
	p  {
		max-width: 330px;		
		font-size: 21px;		
		line-height: 1.125em;		
		font-family: $italic;	
		margin-bottom: 30px;
		margin-top: 0;	
	}

	h4 {
		line-height: 20px;
		margin-bottom: 10px;
		text-align: left;
		text-transform: uppercase;
		color: #fff;
	}
	h4 + span {
		font-size: 18px;
		line-height: 26px;
		color: #ffdd99;
	}
}


/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	.testimonials-section {
		padding: 50px 0 30px 0;	

 		.testimonials {	 			

		li:first-of-type {
			margin-bottom:0;
		}

		.testimonial {
			flex-direction: column;
			padding:15px;
		}
	}
	
		div.testimonial-icon {
		margin-bottom: 15px;
		margin-right: 0;
		margin: 0 auto;
	}
		.people-say {
			align-items:center;
			margin-bottom: 20px;
			text-align: center;
		}		
	}
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	.testimonials-section {			

			.section-body {
				padding: 15px;
			}
			.testimonials{

		li:first-of-type {
			margin-bottom:0;
		}
		li {
			margin-bottom: 25px;
		}

		p {
			font-size: 19px;
		}
	}

	.testimonial-icon {
		width: 80px;
		height: 80px;
		margin-right: 10px;
	}
}}
/* Large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {


}