$font-color: #fff;
$font-color-grey: #3c4761;
$font-blue: #30bae7;
$font-color-dark: #393939;

$bold: 'titillium_webbold';
$semi-bold: 'titillium_websemibold';
$light: 'titillium_weblight';
$italic: 'titillium_webitalic';