/*Portfolio*/ 

 .portfolio-section {
	color: #393939;
	padding-top: 120px;
	padding-bottom: 109px;
	background: #ffdd99;
	.section-header {
			h2:after {
			background: #e5c37f;
		}
		ul.our-portfolio-menu {
			display: flex;
			justify-content: center;

			li {
				margin-right: 10px;
			}
		}
	}

	.section-header p {
		max-width: 516px;
		margin-bottom: 44px;
	}

	.section-body {
		text-align: center;
	}

	.our-portfolio {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}	

	.portfolio {
		margin-bottom: 65px;
		margin-right: 10px;		
		text-align: center;
	}

	.portfolio div[class*="portfolio-icon-"] {
		width: 540px;
		height: 310px;
		margin-bottom: 30px;
	}

	.our-portfolio-menu a {
		@include link-style;		
		font-size: 1.125em;
		line-height: 35px;
		width: 90px;
		height: 35px;		
		border: 1px solid #ffdd99;		
		font-family:'titillium_webregular';
		color: #393939;
		font-weight: bold;
		background: #ebc985;	
		margin-bottom: 60px;		

		&.active:hover {
			border: solid #1e1e1c;
			border-width: thin;
			background: $font-color;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}

	.portfolio-icon-one {
		background: url('../img/portfolio-1.png') no-repeat center center;
		background-size: cover;
	}
	.portfolio-icon-two {
		background: url('../img/portfolio-2.png') no-repeat center center;
		background-size: cover;
	}

	.portfolio-icon-three {
		background: url('../img/portfolio-3.png') no-repeat center center;
		background-size: cover;
	}

	.portfolio-icon-four {
		background: url('../img/portfolio-4.png') no-repeat center center;
		background-size: cover;
	}

	h5 {
		text-align: center;
		line-height: 20px;
		text-transform: uppercase;
		font-weight: bold;
	}
	.btn-wrap {
		text-align: center;
		margin-top: 15px;
		margin-bottom: 109px;
	}
	a.big-btn {
		background: #17c2a4;
		box-shadow: 0 4px #14a58c;

		&:hover {
			background: #2db19a;
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	 .portfolio-section {
		padding: 50px 0 30px 0; 

	.portfolio {
			margin-right: 0;
		}

	.portfolio div[class*="portfolio-icon-"] {
			width: 279px;
    		height: 166px;
		}

		.our-portfolio-menu a {
			margin-bottom: 25px;
			width: 75px;
		}
				
	}	
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	.portfolio-section {
		padding: 50px 0 50px 0;	

		.portfolio {
			margin-right: 10px;
		}
	}
}
/* Large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {


}