/*Portfolio*/ 

section #portfolio-section {
	color: #393939;
	padding-top: 120px;
	padding-bottom: 109px;
	background: #ffdd99;
	.hr-line {
		background: #e5c37f;
	}
	p {
		max-width: 516px;
		margin-bottom: 44px;
	}
	.flex-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		// flex-direction: column;
	}

	.flex-wrap .item {
		margin-bottom: 65px;
		margin-right: 10px;
	}


	.flex-wrap .item div[class*="item-icon-"] {
		width: 540px;
		height: 310px;
		margin-bottom: 30px;
	}

	.flex a {
		display: inline-flex;
		justify-content: center;
		font-size: 1.125em;
		line-height: 35px;
		width: 90px;
		height: 35px;
		text-transform: uppercase;
		margin-right: 10px;
		text-decoration: none;
		font-family:'titillium_webregular';
		color: #393939;
		font-weight: bold;
		background: #ebc985;
		border-radius: 5px;
		margin-bottom: 60px;
		transition: 0.4s;

		&.active:hover {
			border: solid #1e1e1c;
			border-width: thin;
			background: $font-color;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}

	.item-icon-one {
		background: url('../img/portfolio-1.png') no-repeat center center;
		background-size: cover;
	}
	.item-icon-two {
		background: url('../img/portfolio-2.png') no-repeat center center;
		background-size: cover;
	}

	.item-icon-three {
		background: url('../img/portfolio-3.png') no-repeat center center;
		background-size: cover;
	}

	.item-icon-four {
		background: url('../img/portfolio-4.png') no-repeat center center;
		background-size: cover;
	}

	h5 {
		text-align: center;
		line-height: 20px;
		text-transform: uppercase;
		font-weight: bold;
	}
	.btn-wrap {
		text-align: center;
		margin-top: 15px;
		margin-bottom: 109px;
	}
	a.big-btn {
		background: #17c2a4;
		box-shadow: 0 4px #14a58c;

		&:hover {
			background: #2db19a;
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	section #portfolio-section {
		padding: 50px 0 50px 0; 

	.flex-wrap	.item {
			margin-right: 0;
		}

	.flex-wrap .item div[class*="item-icon-"] {
			width: 279px;
    		height: 166px;
		}


			
	}
	
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	#portfolio-section {
		padding: 50px 0 50px 0;

	
	}
}
/* Large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {


}