/*Service*/ 

#service {
	background: #17c2a4;
	padding: 119px 0 127px 0;
	color: $font-color;	
	p {
		margin-bottom: 80px;
	}
}

	#service .service-wrap {

		width: 25%;
		div.service-icon-branding {
			height: 132px;
			background: url('../img/Flag.png') no-repeat center center;			
		}

		div.service-icon-design {
			height: 132px;
			background: url('../img/pen.png') no-repeat center center;			
		}

		div.service-icon-development {
			height: 132px;
			background: url('../img/Gears.png') no-repeat center center;			
		}

		div.service-icon-rocket {
			height: 132px;
			background: url('../img/Rocket.png') no-repeat center center;			
		}

		h4 {
			font-family: $bold;
			font-size: 1.5em;
			line-height: 1.125em;
			text-align: center;
			text-transform: uppercase;			
			margin-bottom: 25px;
		}

		 p {
			max-width: 200px;
			margin: 0 auto;
			font-size: 1em;
			line-height: 1.5em;
			text-align: center;			
		}
	}


/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	#service {
		padding: 50px 0 50px 0;

	#service div.flex {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.flex div.service-wrap {
			width: 90%;
			margin-bottom: 15px;
		}
	}
	
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	#service {
		padding: 50px 0 50px 0;

	 .flex {
			
			justify-content: center;
			flex-wrap: wrap;
			flex-direction: row;
		}

		.flex .service-wrap {
			width: 50%;
			margin-bottom: 15px;
		}
	}
}
/* Large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {


}