/*Testimonials*/ 

div#people-say {
	padding: 119px 0 130px 0;;
	background: #d74680;
	color: $font-color;
	h2	{
		text-transform: uppercase;
	}

	.hr-line {
	background:	#b73c6d;
	}

	.hr-line + p {
		margin-bottom: 86px;
	}	

	.article-marign {
		margin-bottom: 156px;
	}	

	.section-icon {
		width: 94px;
		height: 95px;
		background: url('../img/article.png')no-repeat center center;
		background-size: cover;
		margin: 0 auto;
		border-radius: 95px;		
	}

	.d-flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	}
	p  {
		max-width: 330px;		
		font-size: 21px;		
		line-height: 1.125em;		
		font-family: $italic;	
		margin-bottom: 30px;	
	}

	h4 {
		line-height: 20px;
		margin-bottom: 10px;
		text-align: left;
		text-transform: uppercase;
	}
	h4 + span {
		font-size: 18px;
		line-height: 26px;
		color: #ffdd99;
	}
}


/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	#people-say {
		padding: 50px 0 50px 0;	
 
		div.article-marign {
		margin-bottom: 0;
	}
		div.section-icon {
		margin-bottom: 15px;
	}
		.d-flex {
			align-items:center;
			margin-bottom: 20px;
		}		
	}
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	
}
/* Large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {


}