$font-color: #fff;
$color-overlay: #0000; 
$button-background: #988574;


$releway-regular: 'ralewayregular';
$releway-extrabold: 'ralewayextrabold';
$montserrat-light: 'montserratlight';
$releway-medium: 'ralewaymedium';
$releway-semibold: 'ralewaysemibold';